* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.btn {
  width: 160px;
  height: 45px;
  h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background: none;
  }
}

.App {
  .bg {
    background-image: url("./images//Vector.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
